<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="maskable_icon_x192.png">
    <style>
        .table {
            vertical-align: middle;
            font-size: 13px;
        }
        tr:first-child {
            padding: 0;
            font-size: inherit;
            font-weight: bolder;
            position: sticky;
            top: 0px;
            background: #dee2e6;
        }
        .bold {
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <main id="app">
        <div class="modal fade" id="other-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label class="mb-3 w-100">
                            <span class="form-label">Текущая дата</span>
                            <input class="form-control" type="date" v-model.lazy=date></input>
                        </label>
                        <h5>Выгрузка и загрузка данных</h5>
                        <button type="button" class="btn btn-primary me-3" @click="download">Скачать</button>
                        <button type="button" class="btn btn-primary" @click="upload">Загрузить</button>
                        <h5>Измение данных (может их стереть)</h5>
                        <label class="mb-3 w-100">
                            <span class="form-label">Список объектов (одна строка - один объект)</span>
                            <textarea class="form-control" v-model.lazy="peopleText"></textarea>
                        </label>
                        <label class="mb-3 w-100">
                            <span class="form-label">Список действий (одна строка - одино действие)</span>
                            <textarea class="form-control" v-model.lazy="actionsText"></textarea>
                        </label>
                        <table class="table text-center">
                            <tr>
                                <th></th>
                                <th>Скрыт</th>
                            </tr>
                            <tr v-for="i in people">
                                <td v-text="i"></td>  
                                <td>
                                    <input type="checkbox" v-model="table[date][i].$hidden">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table text-center">
            <tr data-bs-toggle="modal" data-bs-target="#other-modal">
                <th>Настройки</th>
                <th v-for="i in actions" v-text="i"></th>
            </tr>
            <tr v-for="i in people" v-show="!table[date][i].$hidden" :key="i">
                <td v-text="i" class="bold"></td>  
                <td v-for="j in actions">
                    <input type="checkbox" v-model="table[date][i][j]">
                </td>
            </tr>
        </table>  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.10/dist/vue.global.prod.js"></script>
    <script>
        const vue = Vue.createApp({
        data() {
            const date = new Date().toISOString().slice(0, 10);
            const data = JSON.parse(localStorage["data"] || JSON.stringify({
                people: [], actions: [], table: {} }));
            people = data.people;
            actions = data.actions;
            table = data.table;
            table[date] = table[date] || Object.fromEntries(people.map(i => [i, {}]));
            return { people, actions, table, date };
        },
        methods: {
            updateData() {
                const people = this.people;
                this.table = {
                    [this.date]: Object.fromEntries(people.map(i => [i, {}]))
                };
            },
            saveData() {
                localStorage["data"] = JSON.stringify({
                    people: this.people,
                    actions: this.actions,
                    table: this.table,
                });
            },
            download() {
                const blob = new Blob([localStorage["data"]]);
                const a = document.createElement("a");
                a.setAttribute("download", "data.json");
                a.setAttribute("href", URL.createObjectURL(blob)); 
                a.click();
            },
            async upload() {
                const input = document.createElement("input");
                input.setAttribute("type", "file");
                input.click();
                await new Promise(r => { input.onchange = () => r() });
                localStorage["data"] = await input.files[0].text();
                location.reload();
            },
        },
        computed: {
            peopleText: {
                get() {
                    return this.people.join("\n");
                },
                set(val) {
                    this.people = val.split("\n");
                    this.updateData();
                },
            },
            actionsText: {
                get() {
                    return this.actions.join("\n");
                },
                set(val) {
                    this.actions = val.split("\n");
                    this.updateData();
                },
            },
        },
        watch: {
            people: 'saveData',
            actions: 'saveData',
            table: { handler: 'saveData', deep: true },
            date(date) {
                this.table[date] = this.table[date] || Object.fromEntries(
                    this.people.map(i => [i, {}]));
            },
        },
    }).mount("#app");;

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script>
        navigator.serviceWorker.register('/sw.js')//{ scope: '/'});
    </script>      
</body>
</html>